# Week 5: Our descent into PCA

## Goals
- Hands on PCA 
- `filter` and `None`
- Plenty of plots plotted in a plot

## PCA and sustainability

Let's load up the same data set from last week and play around with it. 

First let's load the modules we'll use.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_big = pd.read_csv("data/global-data-on-sustainable-energy.csv")
df_big.head()             # Prints the first 5 rows

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.93911,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.93911,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.93911,67.709953

Let's focus on three columns:
1. "Electricity from fossil fuels (TWh)"
2. "Electricity from nuclear (TWh)"
3. "Electricity from renewables (TWh)"

In [3]:
df = pd.DataFrame({
    "f" : df_big["Electricity from fossil fuels (TWh)"], 
    "n" : df_big["Electricity from nuclear (TWh)"],
    "r" : df_big["Electricity from renewables (TWh)"]
})
print(df)

         f    n     r
0     0.16  0.0  0.31
1     0.09  0.0  0.50
2     0.13  0.0  0.56
3     0.31  0.0  0.63
4     0.33  0.0  0.56
...    ...  ...   ...
3644  3.50  0.0  3.32
3645  3.05  0.0  4.30
3646  3.73  0.0  5.46
3647  3.66  0.0  4.58
3648  3.40  0.0  4.19

[3649 rows x 3 columns]

Now we want to make sure that all of our data is complete. We don't want any missing entries. Let's check.

### The `filter` function

We will use the `filter` function in Python.

Similar to `map`, the `filter` function runs through an iterable object (e.g. a list) and applies a function `f` on each entry. If on that entry `f` returns `True`, then that entry is kept; otherwise the entry is discarded.

In [5]:
L = [-2, -1, 0, 1, 2]
is_pos = lambda x: x > 0
is_pos(4)

True

In [6]:
list(filter(is_pos, L))     # Only the positive entries remain.

[1, 2]

### `None` objects

In Python there is a special object `None`.

In [10]:
x = None
# print(x)
L = [1, 4, None, 3]
print(L[0])
print(L[2])

1
None

In [12]:
def IsNone(x):
    if x:           # equal to "if x != None"
        print("You gave me something.")
        return False
    else:
        print("You gave me `None`.")
        return True

In [14]:
# print(IsNone(4))
print(IsNone(None))

You gave me `None`.
True

In [17]:
x = 1
x is None		# This is the way to decide if a var is 'None'.

False

Let's purposefully create a data frame without an entry.

In [18]:
miss = pd.DataFrame({
    "X" : [None, 6, None, 5], 
    "Y" : [7, 9, 11, 13]
})
print(miss)

     X   Y
0  NaN   7
1  6.0   9
2  NaN  11
3  5.0  13

In [19]:
print("The 0-entry in the 'X' column is: {0}".format(miss["X"][0]))
print(miss["X"][0] == None)
print(type(miss["X"][0]))

The 0-entry in the 'X' column is: nan
False
<class 'numpy.float64'>

To check if a value is a `numpy.nan` we need to use a special function.

In [20]:
print(np.isnan(miss["X"][0]))

True

Back to filtering out the rows with missing entries.

Now let's use `filter` to find all rows that have a missing entry.

In [25]:
has_nan = lambda row: any(map(lambda x: np.isnan(x), row))
[(pair[0], has_nan(pair[1])) for pair in miss.iterrows()]
# [pair for pair in miss.iterrows()]

[(0, True), (1, False), (2, True), (3, False)]

In [22]:
baddies = list(filter(lambda pair: has_nan(pair[1]), df.iterrows()))
print(len(baddies))
baddies

126

[(693,
  f    20.42
  n      NaN
  r    18.48
  Name: 693, dtype: float64),
 (694,
  f    19.59
  n      NaN
  r    21.03
  Name: 694, dtype: float64),
 (695,
  f    19.87
  n      NaN
  r    22.50
  Name: 695, dtype: float64),
 (696,
  f    23.30
  n      NaN
  r    21.84
  Name: 696, dtype: float64),
 (697,
  f    27.79
  n      NaN
  r    20.87
  Name: 697, dtype: float64),
 (698,
  f    25.20
  n      NaN
  r    25.42
  Name: 698, dtype: float64),
 (699,
  f    25.54
  n      NaN
  r    28.03
  Name: 699, dtype: float64),
 (700,
  f    33.69
  n      NaN
  r    22.29
  Name: 700, dtype: float64),
 (701,
  f    32.59
  n      NaN
  r    23.78
  Name: 701, dtype: float64),
 (702,
  f    32.12
  n      NaN
  r    24.57
  Name: 702, dtype: float64),
 (703,
  f    36.71
  n      NaN
  r    21.55
  Name: 703, dtype: float64),
 (704,
  f    41.00
  n      NaN
  r    21.04
  Name: 704, dtype: float64),
 (705,
  f    45.17
  n      NaN
  r    20.59
  Name: 705, dtype: float64),
 (706,
  f    48.00
  n      NaN
  r    20.17
  Name: 706, dtype: float64),
 (707,
  f    44.51
  n      NaN
  r    25.44
  Name: 707, dtype: float64),
 (708,
  f    44.37
  n      NaN
  r    27.38
  Name: 708, dtype: float64),
 (709,
  f    49.09
  n      NaN
  r    24.27
  Name: 709, dtype: float64),
 (710,
  f    44.90
  n      NaN
  r    29.32
  Name: 710, dtype: float64),
 (711,
  f    43.85
  n      NaN
  r    32.89
  Name: 711, dtype: float64),
 (712,
  f    45.16
  n      NaN
  r    32.23
  Name: 712, dtype: float64),
 (713,
  f    43.69
  n      NaN
  r    34.06
  Name: 713, dtype: float64),
 (1555,
  f    78.43
  n      NaN
  r    19.60
  Name: 1555, dtype: float64),
 (1556,
  f    83.96
  n      NaN
  r    22.19
  Name: 1556, dtype: float64),
 (1557,
  f    92.03
  n      NaN
  r    21.00
  Name: 1557, dtype: float64),
 (1558,
  f    97.57
  n      NaN
  r    19.82
  Name: 1558, dtype: float64),
 (1559,
  f    103.80
  n       NaN
  r     20.97
  Name: 1559, dtype: float64),
 (1560,
  f    110.22
  n       NaN
  r     22.66
  Name: 1560, dtype: float64),
 (1561,
  f    116.80
  n       NaN
  r     21.18
  Name: 1561, dtype: float64),
 (1562,
  f    124.10
  n       NaN
  r     24.29
  Name: 1562, dtype: float64),
 (1563,
  f    129.55
  n       NaN
  r     26.34
  Name: 1563, dtype: float64),
 (1564,
  f    136.05
  n       NaN
  r     26.79
  Name: 1564, dtype: float64),
 (1565,
  f    142.88
  n       NaN
  r     34.63
  Name: 1565, dtype: float64),
 (1566,
  f    161.41
  n       NaN
  r     30.46
  Name: 1566, dtype: float64),
 (1567,
  f    177.83
  n       NaN
  r     31.11
  Name: 1567, dtype: float64),
 (1568,
  f    189.66
  n       NaN
  r     35.50
  Name: 1568, dtype: float64),
 (1569,
  f    203.11
  n       NaN
  r     34.41
  Name: 1569, dtype: float64),
 (1570,
  f    209.71
  n       NaN
  r     33.56
  Name: 1570, dtype: float64),
 (1571,
  f    217.97
  n       NaN
  r     39.58
  Name: 1571, dtype: float64),
 (1572,
  f    222.64
  n       NaN
  r     43.17
  Name: 1572, dtype: float64),
 (1573,
  f    235.41
  n       NaN
  r     48.38
  Name: 1573, dtype: float64),
 (1574,
  f    247.39
  n       NaN
  r     48.04
  Name: 1574, dtype: float64),
 (1575,
  f    238.91
  n       NaN
  r     52.91
  Name: 1575, dtype: float64),
 (1723,
  f    44.11
  n      NaN
  r     7.53
  Name: 1723, dtype: float64),
 (1724,
  f    47.30
  n      NaN
  r     8.08
  Name: 1724, dtype: float64),
 (1725,
  f    49.44
  n      NaN
  r     8.89
  Name: 1725, dtype: float64),
 (1726,
  f    55.24
  n      NaN
  r     8.62
  Name: 1726, dtype: float64),
 (1727,
  f    58.89
  n      NaN
  r     8.06
  Name: 1727, dtype: float64),
 (1728,
  f    60.06
  n      NaN
  r     7.86
  Name: 1728, dtype: float64),
 (1729,
  f    63.89
  n      NaN
  r     7.77
  Name: 1729, dtype: float64),
 (1730,
  f    68.45
  n      NaN
  r     8.17
  Name: 1730, dtype: float64),
 (1731,
  f    72.89
  n      NaN
  r     7.46
  Name: 1731, dtype: float64),
 (1732,
  f    71.85
  n      NaN
  r     6.88
  Name: 1732, dtype: float64),
 (1733,
  f    74.63
  n      NaN
  r     8.02
  Name: 1733, dtype: float64),
 (1734,
  f    78.70
  n      NaN
  r     7.88
  Name: 1734, dtype: float64),
 (1735,
  f    82.98
  n      NaN
  r     7.64
  Name: 1735, dtype: float64),
 (1736,
  f    84.88
  n      NaN
  r     7.73
  Name: 1736, dtype: float64),
 (1737,
  f    86.37
  n      NaN
  r     8.27
  Name: 1737, dtype: float64),
 (1738,
  f    82.20
  n      NaN
  r     9.45
  Name: 1738, dtype: float64),
 (1739,
  f    82.65
  n      NaN
  r    11.98
  Name: 1739, dtype: float64),
 (1740,
  f    91.48
  n      NaN
  r    11.64
  Name: 1740, dtype: float64),
 (1741,
  f    96.36
  n      NaN
  r    10.91
  Name: 1741, dtype: float64),
 (1742,
  f    95.39
  n      NaN
  r    11.09
  Name: 1742, dtype: float64),
 (1743,
  f    96.70
  n      NaN
  r    11.94
  Name: 1743, dtype: float64),
 (2017,
  f    62.91
  n      NaN
  r     7.56
  Name: 2017, dtype: float64),
 (2018,
  f    69.71
  n      NaN
  r     6.64
  Name: 2018, dtype: float64),
 (2019,
  f    74.78
  n      NaN
  r     5.81
  Name: 2019, dtype: float64),
 (2020,
  f    77.25
  n      NaN
  r     5.51
  Name: 2020, dtype: float64),
 (2021,
  f    89.30
  n      NaN
  r     6.15
  Name: 2021, dtype: float64),
 (2022,
  f    91.79
  n      NaN
  r     6.60
  Name: 2022, dtype: float64),
 (2023,
  f    96.31
  n      NaN
  r     6.94
  Name: 2023, dtype: float64),
 (2024,
  f    101.52
  n       NaN
  r      6.72
  Name: 2024, dtype: float64),
 (2025,
  f    105.01
  n       NaN
  r      8.61
  Name: 2025, dtype: float64),
 (2026,
  f    107.66
  n       NaN
  r      8.28
  Name: 2026, dtype: float64),
 (2027,
  f    117.16
  n       NaN
  r      7.62
  Name: 2027, dtype: float64),
 (2028,
  f    117.43
  n       NaN
  r      9.60
  Name: 2028, dtype: float64),
 (2029,
  f    123.23
  n       NaN
  r     10.76
  Name: 2029, dtype: float64),
 (2030,
  f    127.86
  n       NaN
  r     13.04
  Name: 2030, dtype: float64),
 (2031,
  f    133.16
  n       NaN
  r     14.31
  Name: 2031, dtype: float64),
 (2032,
  f    135.17
  n       NaN
  r     14.94
  Name: 2032, dtype: float64),
 (2033,
  f    135.56
  n       NaN
  r     21.09
  Name: 2033, dtype: float64),
 (2034,
  f    132.70
  n       NaN
  r     27.94
  Name: 2034, dtype: float64),
 (2035,
  f    142.27
  n       NaN
  r     28.31
  Name: 2035, dtype: float64),
 (2036,
  f    149.70
  n       NaN
  r     28.76
  Name: 2036, dtype: float64),
 (2037,
  f    138.77
  n       NaN
  r     30.54
  Name: 2037, dtype: float64),
 (2871,
  f    138.68
  n       NaN
  r      0.00
  Name: 2871, dtype: float64),
 (2872,
  f    146.09
  n       NaN
  r      0.00
  Name: 2872, dtype: float64),
 (2873,
  f    154.91
  n       NaN
  r      0.00
  Name: 2873, dtype: float64),
 (2874,
  f    166.58
  n       NaN
  r      0.00
  Name: 2874, dtype: float64),
 (2875,
  f    173.41
  n       NaN
  r      0.00
  Name: 2875, dtype: float64),
 (2876,
  f    191.05
  n       NaN
  r      0.00
  Name: 2876, dtype: float64),
 (2877,
  f    196.31
  n       NaN
  r      0.00
  Name: 2877, dtype: float64),
 (2878,
  f    204.43
  n       NaN
  r      0.00
  Name: 2878, dtype: float64),
 (2879,
  f    204.2
  n      NaN
  r      0.0
  Name: 2879, dtype: float64),
 (2880,
  f    217.31
  n       NaN
  r      0.00
  Name: 2880, dtype: float64),
 (2881,
  f    240.06
  n       NaN
  r      0.00
  Name: 2881, dtype: float64),
 (2882,
  f    250.07
  n       NaN
  r      0.01
  Name: 2882, dtype: float64),
 (2883,
  f    271.68
  n       NaN
  r      0.03
  Name: 2883, dtype: float64),
 (2884,
  f    284.02
  n       NaN
  r      0.04
  Name: 2884, dtype: float64),
 (2885,
  f    311.81
  n       NaN
  r      0.05
  Name: 2885, dtype: float64),
 (2886,
  f    338.34
  n       NaN
  r      0.05
  Name: 2886, dtype: float64),
 (2887,
  f    337.38
  n       NaN
  r      0.05
  Name: 2887, dtype: float64),
 (2888,
  f    354.30
  n       NaN
  r      0.07
  Name: 2888, dtype: float64),
 (2889,
  f    334.70
  n       NaN
  r      0.16
  Name: 2889, dtype: float64),
 (2890,
  f    335.24
  n       NaN
  r      0.21
  Name: 2890, dtype: float64),
 (2891,
  f    337.82
  n       NaN
  r      0.21
  Name: 2891, dtype: float64),
 (3397,
  f   NaN
  n   NaN
  r   NaN
  Name: 3397, dtype: float64),
 (3398,
  f   NaN
  n   NaN
  r   NaN
  Name: 3398, dtype: float64),
 (3399,
  f   NaN
  n   NaN
  r   NaN
  Name: 3399, dtype: float64),
 (3400,
  f   NaN
  n   NaN
  r   NaN
  Name: 3400, dtype: float64),
 (3401,
  f   NaN
  n   NaN
  r   NaN
  Name: 3401, dtype: float64),
 (3402,
  f   NaN
  n   NaN
  r   NaN
  Name: 3402, dtype: float64),
 (3403,
  f   NaN
  n   NaN
  r   NaN
  Name: 3403, dtype: float64),
 (3404,
  f   NaN
  n   NaN
  r   NaN
  Name: 3404, dtype: float64),
 (3405,
  f   NaN
  n   NaN
  r   NaN
  Name: 3405, dtype: float64),
 (3406,
  f   NaN
  n   NaN
  r   NaN
  Name: 3406, dtype: float64),
 (3407,
  f   NaN
  n   NaN
  r   NaN
  Name: 3407, dtype: float64),
 (3408,
  f   NaN
  n   NaN
  r   NaN
  Name: 3408, dtype: float64),
 (3409,
  f   NaN
  n   NaN
  r   NaN
  Name: 3409, dtype: float64),
 (3410,
  f   NaN
  n   NaN
  r   NaN
  Name: 3410, dtype: float64),
 (3411,
  f   NaN
  n   NaN
  r   NaN
  Name: 3411, dtype: float64),
 (3412,
  f   NaN
  n   NaN
  r   NaN
  Name: 3412, dtype: float64),
 (3413,
  f   NaN
  n   NaN
  r   NaN
  Name: 3413, dtype: float64),
 (3414,
  f   NaN
  n   NaN
  r   NaN
  Name: 3414, dtype: float64),
 (3415,
  f   NaN
  n   NaN
  r   NaN
  Name: 3415, dtype: float64),
 (3416,
  f   NaN
  n   NaN
  r   NaN
  Name: 3416, dtype: float64),
 (3417,
  f   NaN
  n   NaN
  r   NaN
  Name: 3417, dtype: float64)]

Instead of working further on this, there is a [pandas method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html) for doing exactly what we want. Let's do that.

In [23]:
df_clean = df.dropna()
list(filter(lambda pair: has_nan(pair[1]), df_clean.iterrows()))

[]

## Problem 1

Build a Python function that does the following:

**Input:** Given three `pandas` data frames `(df1, df2, df3)` each with 2 columns,

**Output:** A `matplotlib` plot of all three of the scatter plots in a single plot (2 x 2 grid of subplots).

Check out a [matplotlib example](https://matplotlib.org/stable/gallery/subplots_axes_and_figures/subplots_demo.html#stacking-subplots-in-two-directions) on subplots stacking in both horizontal and vertical direction.

In [ ]:
# Try it with a group first
# Also build yourself a simple test case.

## Problem 2

- Take the current data frame we have, `df_clean`, and construct the three principal components. 
- Project the data onto every pair of principal components, so onto (PC1, PC2), (PC1, PC3) and (PC2, PC3).
- For each of the three different projections, build a `pandas` data frame with two columns.
- Input these three data frames into your function.

In [ ]:
# Try it with a group first

## (Bonus) Problem 3

Repeat Problem 2 but rescale the data by incorporating the following function.

In [ ]:
def mat_to_rescaled_mat(Z):
    from sklearn.preprocessing import StandardScaler
    scaler = StandardScaler()
    scaler.fit(Z)
    return scaler.transform(Z)